altgraph==0.17.2
autopep8==1.5.7
cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.6
flake8==3.9.2
future==0.18.2
google-api-core==2.0.1
google-api-python-client==2.23.0
google-auth==2.2.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.19.1
idna==3.2
mccabe==0.6.1
pefile==2021.9.3
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pyflakes==2.3.1
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyparsing==2.4.7
pywin32-ctypes==0.2.0
requests==2.26.0
rsa==4.7.2
six==1.16.0
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.7
